
/***************************************************************************************
Folha de estilos Sistema Administrativo











***************************************************************************************/


/* MasterPage */

* {
	margin:0;
	padding:0;
   font-family:Arial, Helvetica, sans-serif;
}

html {
	height:100%;
	width:100%;
}

body {
   background: #fff url(images/bk_main.png) repeat-x top;
	color:#333;
	font-size:62.5%;
}

hr {
   margin:1em 0;
}

strong {
	color:#1A2F3D;
}

a {
	color:#333;
	text-decoration:underline;
}

a:hover {
	text-decoration:none;
}

.hide {
	display:none;
}
.content {
    min-width:960px;
    width:970px;
    margin:0 auto;
    padding-left: 10px;
    padding-right:10px;
    position:relative;
}


#hd {
    background:#fff url(images/bk_fundoBD.png) right top no-repeat;
    margin: 0 -20px 0 0;
}

#hd .content {
    padding-top:50px;
    padding-bottom:10px;
    box-shadow:0 -10px 10px RGBA(0,0,0,0.5);
    z-index:2;
    background:#fff url(images/bk_fundoBD.png) right top no-repeat;
}

#acessibilidade {
    display: inline-block;
    position: relative;
    top: -10px;
    left: 0;
    z-index: 910;
    vertical-align:top;
}
#acessibilidade a {
	display:inline-block;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	text-align:center;
	text-decoration:none;
	color: #fff;
}
 #acessibilidade a:hover {
	background:#999!important;
	color:#000!important;
}
a.lnkAltoContraste {
	color:#fff;
	background:#000;
	margin-left:5px!important;
	font-size:12px;
}
a.lnkNormal {
	color:#000!important;
	background:#fff;
	margin-left:5px!important;
	font-size:12px;
}
a.lnkDiminuirFonte {
	font-size:10px;
}
a.lnkFonteNormal {
	font-size:12px;
}
a.lnkAumentarFonte {
	font-size:14px;
}

#aspnetForm {
    background: #FFF;
	margin: 0 20px;
    padding: 20px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
    min-width:880px;
    padding-bottom: 0;
    border-radius:2px;
}

div#hd h1.logo {
	display:inline-block;
	margin: 30px 0 20px -50px;
	height:110px;
	line-height:110px;
	vertical-align:middle;
	*display: inline;
    zoom: 1;
}

div#hd h1.logo img {	
	height:110px;
	vertical-align:middle;		
}

div#hd h2.logoSistemaAtual {
   display:inline-block;
   margin-left:25px;
   margin-top: 30px;
	height:110px;
	line-height:110px;
	vertical-align:middle;
	position:relative;
	overflow:hidden;
	*display: inline;
    zoom: 1;
}

div#hd h2.logoSistemaAtual a:before {
    position:absolute;
    left:0;
    top:45%;
    content:"";
    width: 0; 
	height: 0; 
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid #999;
}
div#hd h2.logoSistemaAtual a {
   display:block;
   height:55px;
   width:80px;
   overflow:hidden;
   margin-top:25px;
}
div#hd h2.logoSistemaAtual img {
   vertical-align:middle;  
   height: 70px;
   vertical-align: middle;
   position: absolute;
   padding: 0 10px;   
}
div#hd h2.logoInstitiuicao {
   display:none;
}
div#hd h2.logoInstitiuicao img {
   height:50px;
   vertical-align:middle;
}
.user {
    color:#fff;
    min-width:960px;

	background-color: #414649;
    background-image: -moz-linear-gradient(center top , #5f5f5f, #414649);
    background-image: -khtml-gradient(linear, left top, left bottom, from(#5f5f5f), to(#414649)); 
    background-image: -ms-linear-gradient(top, #5f5f5f, #414649);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5f5f5f), color-stop(100%, #414649));
    background-image: -webkit-linear-gradient(top, #5f5f5f, #414649);
    background-image: -o-linear-gradient(top, #5f5f5f, #414649);
    background-image: linear-gradient(top, #5f5f5f, #414649);    
    
    position:absolute;
    top:0;
    left:0;
    width:100%;
    box-shadow:0 0 10px RGBA(0,0,0,0.5);
    z-index:901;
    font-size: 1.4em;
    text-align: right;
    padding: 10px 0;
}
.user .content {
    text-align:right;
    font-size:1.2em;
}
.user strong {
	color: #fff;
}

.user a {
	color:#FFB95C;
	text-decoration:none;
	padding:0 5px;
}
.user a:hover {
	text-decoration:underline;
}

.user a[id*="hplSair"] {
	margin-right: 40px;
}

.user li:first-child {
    border-left: 1px solid #717171;
}
.user ul {
    margin-right:-10px;
}

.user li {
    position: relative;
    display: inline-block;
    border-right: 1px solid #717171;
    padding: 10px 5px;
    max-width: 170px;
}

/*------------------------------------------*
* 	Menu									*
*	.m = menu, .i = items, .s = submenu 	*
*-------------------------------------------*/
.m {
    background-color: #414649;
    background-repeat: repeat-x;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;

    background-color: #414649;
    background-image: -moz-linear-gradient(center top , #5f5f5f, #414649);
    background-image: -khtml-gradient(linear, left top, left bottom, from(#5f5f5f), to(#414649)); 
    background-image: -ms-linear-gradient(top, #5f5f5f, #414649);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5f5f5f), color-stop(100%, #414649));
    background-image: -webkit-linear-gradient(top, #5f5f5f, #414649);
    background-image: -o-linear-gradient(top, #5f5f5f, #414649);
    background-image: linear-gradient(top, #5f5f5f, #414649);    
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);

    border-radius: 4px 4px 4px 4px;
	margin:0;
	padding:0;
	height:40px;
	list-style:none;
	position:relative;
	z-index:900;
	font-size:1.2em;
}

.m .i {
	display:block;
	float:left;
	position:relative;
}

.m .s {
	position:absolute;
	left:0;
	list-style:none;
}

.m .s .i { float:none; }

.m .s .i .s {
	position:absolute;
	margin-left:200px;
	top:0;
}

/* Menu abre para esquerda*/
.m .l .s {
	right:0;
	left:auto;
}

.m .l .s .i .s {
	margin-right:200px;
	margin-left:auto;
}

.m .i a { /* Menu lvl 1*/
	padding:0 10px;
    height:40px;
    line-height:40px;
	text-align:center;
	font-weight:normal;
	border:none;
}

.m .s a { /* submenu lvl 1*/
	width:190px;
	color:#dedede;
	line-height:1.6em;
	font-weight:normal;
	padding:5px;
	background:#414649;
	height:auto;
	text-align:left;
}

.m .s .i a {  }/* Menu lvl 2*/

.m .s .i .s a { border-radius:0; -webkit-border-radius:0; -moz-border-radius:0; }/* submenu lvl 2*/

.m .s .i .s .i a {  }/* submenu lvl 3*/

.m .s .i .s .i .s a { }/* submenu lvl 3*/

/* Eventos :hover */
.m .i .s,										/* Esconde submenu lvl1 */
.m .i:hover .s .i .s,							/* Esconde submenu lvl2 quando lvl1 hover */
.m .i .s .i:hover .s .i .s { display:none; } 	/* Esconde submenu lvl3 quando lvl2 hover */

.m .i:hover .s,
.m .i .s .i:hover .s,
.m .i .s .i .s .i:hover .s { display:block; }

.m .dB { display:block!important; } /* display on focus */

/* Padrão links*/
.m a {
	display:block;
	color:#FFF;
	text-decoration:none;
}

.m .l a {
	background-image:none;
}

.m .s .i .s .p a {
	border-top:none;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	border-top-right-radius: 5px;
}
.m .l .s .i .s .p a {
	border-top:none;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 0;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 0;
	border-top-left-radius: 5px;
	border-top-right-radius: 0;
}

.m .s .u a,
.m .s .i .s .u a {
	border-bottom:none;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}


.m a:hover,
.m a:active,
.m a:focus { 
	background:#333!important;
	color:#fff!important;
}

.i:hover > a {
	background:#333!important;
	color:#fff!important;
}

.m .dDA { /* Drop Down Arrow*/
	line-height: inherit;
	display: inline-block;
	margin-left: 15px;
	font-size: 0.6em;
	opacity:0.5;
}
.m .s .dDA {
	float:right;
	margin-right: 5px;
	margin-left: 0;
}

div.breadCrumb {
	margin:10px 0 10px 10px;
	font-size:1.2em;
}

div.breadCrumb a {
	color:#333;
	text-decoration:underline;
	margin:0 5px;
}

div.breadCrumb a:hover {
	text-decoration:none;
}


div#bd {
    margin-bottom: -70px;
}

#bd .content {
    background:#fff;
    box-shadow:0 0 10px RGBA(0,0,0,0.5);
    border-radius:0 0 5px 5px;
    z-index:1;
    padding-bottom:10px;
    padding-top: 1px;
}

/* Menu Sistemas */

.menuSistemas { 
	display: inline-block;
	position:relative;
   z-index:901;
}
.menuSistemas .spUl {
   position:absolute;
   list-style:none;
   display:none;
   right:0;
	background:#414649;
   box-shadow:1px 1px 10px RGBA(0,0,0,.4);
   z-index:901;
   margin-top: 10px;
} 

.menuSistemas .spUl .spLi {
}

.menuSistemas .spUl .spLi img,
.menuSistemas .spUl .spLi br { display:none; }

.menuSistemas .spUl .spLi a {
    color:#eee;
    padding:5px;
    display:inline-block;
    text-align:left;
    width:250px;
}
.menuSistemas .spUl .spLi a:hover {
    color:#fff;
    background:#333;
   text-decoration:none!important;
}
.fecharSistemas {
    display:none;
}

.hplSistemas {
	cursor: pointer;
}


/* Formulários */

fieldset {
	margin-bottom:20px;
	display:block;
	padding:15px 10px 10px 10px;
	font-size:1.2em;
	background:#FFFFFF;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    position: relative;  
}

fieldset fieldset { font-size:1em; }

legend {
   font-size:1.4em;
	padding:7px 0px 7px 20px!important;
	font-weight:bold;
	color:#444;
	line-height: 21px;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
	
    float: left;
	margin-top: -15px;
	margin-left:-10px;
	margin-right: -30px;
	margin-bottom:20px;
	width:100%;
	
  
    overflow: hidden;
    position: relative;
    text-align: left;
    border-radius: 3px 3px 0 0;
    box-shadow:0 1px 0 #FFFFFF inset;
    background-color: #EEEEEE;
    border-left-color: #D5D5D5;
    border-left-width: 0;
    border-right-color: #D5D5D5;
    border-right-width: 0;
    border-top-color: #D5D5D5;
    border-top-width: 0;
    border-bottom: 1px solid #ccc;    


    background-color: #EEEEEE;
    background-image: linear-gradient(top, #F5F5F5, #EEEEEE);
    background-repeat: repeat-x;
}


label {
	display:block;
	width:auto;
	clear:both;
}

div.right {
	text-align:right;
	margin:10px -10px -10px -10px;
	padding:10px 10px 5px 10px;
	background:#E9E9E9;
	border-top:1px solid #DDD;
	-webkit-border-bottom-right-radius: 5px;
   -webkit-border-bottom-left-radius: 5px;
   -moz-border-radius-bottomright: 5px;
   -moz-border-radius-bottomleft: 5px;
   border-bottom-right-radius: 5px;
   border-bottom-left-radius: 5px;
}


.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

/* Form --------------------------------------------- */

input,
select,
textarea { 
  font-weight: normal;
  line-height: normal;
}

label {
  line-height: 18px;
  color: #444;
}



input[type=checkbox], input[type=radio] {
  cursor: pointer;
}

.form-list .radio-button  { margin-left:15%; display:inline-block; clear:both;}
.form-list .radio-button label { float:left; text-align:left; width:auto;  margin-right:10px; clear:none;}
.form-list .radio-button input[type=radio] { float:left; margin:8px 3px 0 0;}
input,
textarea,
select,
.uneditable-input {
  display: inline-block;
  width: 23%;
  height: 18px;
  padding: 3px 4px;
  line-height: 18px;
  color: #404040;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
textarea{ font-size:1em;}
select { width:24%;}

input, select, textarea{}


select {
  padding: initial;
}
input[type=checkbox], input[type=radio] {
  width: auto;
  height: auto;
  padding: 0;
  margin: 3px 0;
  *margin-top: 0;
  /* IE6-7 */
  line-height: normal;
  border: none;
}
input[type=file] {
  
  font-size: 11px;
	background: #fff;
}
input[type=button], input[type=reset], input[type=submit] {
  width: auto;
  height: auto;
}
select, input[type=file] {
  height: 27px;
  *height: auto;
  line-height: 27px;
  *margin-top: 4px;
  /* For IE7, add top margin to align select with labels */

}
select[multiple] {
  height: inherit;
  background-color: #ffffff;
  height:130px;
  width:23%;
}
textarea {
  height: auto;
}
:-moz-placeholder {
  color: #bfbfbf;
}
::-webkit-input-placeholder {
  color: #bfbfbf;
}
input, textarea, select {
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
input:focus, textarea:focus, select:focus {
  outline: 0;
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
}
input[type=file]:focus, input[type=checkbox]:focus, select:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: 1px dotted #666;
}

input[type=image] { float:none; border:none; padding:0; background:none; width:auto; height:auto; box-shadow:none;}


input.btn {
    *display: inline;
    *zoom: 1;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #BBBBBB;
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-transition: all 0.1s linear 0s;  
    background-repeat: no-repeat;    
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    display: inline-block;
    font-size: 1.1em;
    line-height: normal;
    padding: 5px 10px;  
    border-radius: 4px 4px 4px 4px;
     -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    background-color: #0163a2;
    background-image: -moz-linear-gradient(center top , #0082d5, #0163a2);
    background-image: -khtml-gradient(linear, left top, left bottom, from(#0082d5), to(#0163a2)); 
    background-image: -ms-linear-gradient(top, #0082d5, #0163a2);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0082d5), color-stop(100%, #0163a2));
    background-image: -webkit-linear-gradient(top, #0082d5, #0163a2);
    background-image: -o-linear-gradient(top, #0082d5, #0163a2);
    background-image: linear-gradient(top, #0082d5, #0163a2);    
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0082d5', endColorstr='#0163a2', GradientType=0);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
     border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-left-radius: 4px;
    background-color: #0163a2;
    background-repeat: repeat-x;
    color: #FFFFFF !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
   
    line-height:normal!important;
	height:auto!important;
	font-weight:normal!important;
	width:auto!important;
   

}

.btn:hover {
    background-position: 0 -15px;
    color: #fff;
    text-decoration: none;
}
.btn:focus {
    outline: 1px dotted #666666;
}

.btn.active, .btn:active 
{
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:0 2px 4px rgba(0, 0, 0, 0.25) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    
}
.btn[disabled] {
    background-image: none;
    box-shadow: none;
    cursor: default;
    opacity: 0.65;
}
input.text2C, select.text2C {
	width:30px;
}

input.text10C, select.text10C {
	width:90px;
}

input.text15C, select.text15C {
	width:120px;
}

input.text20C, select.text20C {
	width:180px;
}

input.text30C, select.text30C {
	width:240px;
}

input.text60C, select.text60C {
	width:480px;
}

textarea.text30C {
	width:240px;
	height:48px;
}

textarea.text60C {
	width:480px;
	height:100px;
}

.checkbox,
.radio {
	display:block;
	margin-bottom:5px;
}

.checkbox input,
.radio input {
	clear:both;
	float:left;
	height:auto;
	border:none;
	margin:0 2px 0 10px;
}

.checkbox label,
.radio label {
	display:inline;
	clear:none;
	width:auto;
}

.invalido {
	background:#FFFBFD;
	border:1px solid #FF8864;
}
/* 
------
GRID
------
*/

.grid  
{   
    width:100%;
    padding:0; 
    clear:both;  
    margin: 10px auto; 
    color:#444; 
    border-collapse: separate !important;
    border-spacing: 0;
    height:auto !important;
    border-radius:4px;
    border-bottom:1px solid #ccc; 

}


.grid .gridHeader { box-shadow:0 1px 0 #fff inset; }
.grid .gridHeader th 
{
    background:#eee; 
    padding:6px 10px; 
    color:#444; 
    text-align:left;
    border-bottom:1px solid #ccc; 
    border-top:0 solid #ccc; 
    height:12px;
    line-height:16px; 
    box-shadow:0 1px 0 #fff inset; 
       
}
.grid tr td .grid { border:1px solid #ddd; border-radius:0; width:90%; float:right;  }
.grid tr td .grid .gridHeader th { text-align:center !important;}
.grid tr td .grid tr:hover td{ background:#e1f0ff !important;}

.grid .gridHeader th:first-child { border-radius:4px 0 0 0;}
.grid .gridHeader th:last-child { border-radius:0 4px 0 0;}

.grid th:last-child { min-width:60px; text-align:center; border-right:none;}
.grid tr td:last-child * { margin:auto; float:none;}

.grid tr:last-child td { border-bottom:none;}
.grid tr:last-child > td:first-child { border-radius:0 0 0 4px;}
.grid tr:last-child > td:last-child { border-radius:0 0 4px 0;}

.grid .gridRow td, .grid .gridAlternatingRow td { vertical-align:middle; padding:10px; border:0;  background:#fff; border-bottom: 1px dotted #ccc;}



.grid .gridAlternatingRow td { background:#f9f9f9}
.grid tr:hover td{ background:#e1f0ff;}

.grid .gridPager table { margin:auto;  }
.grid .gridPager a { color:#333; text-decoration:none; padding: 4px 8px; }
.grid .gridPager td , .grid .gridHeader   
{
    height:17px;                                       
}
.grid .gridPager td
{
    background:#eee; 
    padding:6px 10px; 
    color:#444; 
    text-align:left;
    border-bottom:1px solid #ccc; 
    border-top:0 solid #ccc; 
    height:17px;
    line-height:14px; 
    box-shadow:0 1px 0 #fff inset; 
}
.grid .gridPager table span 
{
    border-radius: 4px 4px 4px 4px;
    color: #333;
    font-weight: bold;
    padding: 4px 8px;    
    box-shadow:0px 0px 3px rgba(0, 0, 0, 0.3) inset    
}
.grid .gridPager table tr { width:100%; margin-top:5px; text-align:center;} 
.grid .gridPager table tr td { padding:10px 2px; font-weight:bold; display:block; float:left }
.grid .gridPager:hover td, .grid .gridPager table tr:hover td { background:#eee; }

.gridSummary tr:last-child td { background:#d8d8d8; font-weight:bold;}

.grid tr.summary td { padding:10px 20px;}


input[type="image"].btExcluir, input[type="image"].btExcluirSemMensagem, input[type="image"].btExcluirMatriculaConfiguracaoEscola {
	height:15px;
	width:15px;
	padding:5px;
	margin:0 auto;
	display:block;
}

input[type="image"].btExcluirTurno {
	float:right;
	height:10px;
	width:10px;
	padding:0;
	margin:0 auto;
	display:block;
}

input[type="image"].bt_pesquisar {
	margin-bottom:-7px;
   padding:0!important;
   width:23px!important;
}

input[type="image"].bt_limpar {
	margin-bottom:-7px;
	width:35px;
}

input[type="image"].bt_desfazer {
	width:20px;
}

#ft {
	width: 100%;
	height:40px;
	line-height:40px;
	font-size:1.1em;
	text-align: center;
	clear:both!important;
	bottom:0;
	position:relative;
   border-top:40px solid #76b6fd;
   color:#fff;
	background-color: #414649;
    background-image: -moz-linear-gradient(center top , #5f5f5f, #414649);
    background-image: -khtml-gradient(linear, left top, left bottom, from(#5f5f5f), to(#414649)); 
    background-image: -ms-linear-gradient(top, #5f5f5f, #414649);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5f5f5f), color-stop(100%, #414649));
    background-image: -webkit-linear-gradient(top, #5f5f5f, #414649);
    background-image: -o-linear-gradient(top, #5f5f5f, #414649);
    background-image: linear-gradient(top, #5f5f5f, #414649);    
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5f5f5f', endColorstr='#414649', GradientType=0);
    text-shadow: 0 1px 0 black;
    margin: 0 -40px -20px -40px;
    padding: 0 40px;
    z-index: -1;
    bottom: -50px;
}


body.login #ft .autenticador a {
   color:#fff;
   text-decoration:none;
}

body.login #ft .autenticador a:hover,
body.login #ft .autenticador a:focus { text-decoration:underline; }
body.login #ft .mensagem {
   position:static;
   right:auto;
}


/* Login */

body.login{
   background: #fff url(images/bk_main.png) repeat-x top;
   padding-top: 1px;
   margin-top: -1px;
}

body.login #bd {
    
   background:#fff url(images/bk_fundoBD.png) right top no-repeat;
   width:960px;
   margin: 39px auto 0 auto;
   padding:1px 20px;
   border-right:1px solid #ddd;
   border-left:1px solid #ddd;
   border-bottom:1px solid #ddd;
   box-shadow: 0 0 4px #444;
   position:static;
   min-height: 435px;
}

body.sistemas #bd {
    background:#fff;
    box-shadow:0 0 10px RGBA(0,0,0,0.5);
    border-radius:0 0 5px 5px;
    z-index:1;
    padding-bottom:10px;
    padding-top: 150px;
    min-width:960px;
    width:970px;
    margin:0 auto;
    padding-left: 10px;
    padding-right:10px;
}

body.login #hd {
   position:static;
   padding:0;
   background:none;
}

body.login #hd, body.sistemas #hd   {
   background: url(images/bk_top.png) repeat-x top;
   position: absolute;
   top: 0;
   left:0;
   width: 100%;
   height:50px;
}

body.login #hd #acessibilidade {
   display:none;
}
body.login #ft, body.sistemas #ft { z-index:-1; }

body.login #hd .logo, body.sistemas #hd .logo {
   text-indent: 0;
   display: block;
   float: none;
   margin: 0 auto;
   height: 112px;
   line-height: 233px;
   width:960px;
   padding:0;
   position:relative;
}

body.login #hd .logo a {
   display:inline-block;
   background: url(images/logos/logo-prefeitura-4.png) center bottom no-repeat;
   height: 111px;
   width: 300px;
   margin: 73px 0 0 20px;
}

body.login #hd .logo img {
   display:none;
}

body.login #hd h2.logoInstitiuicao {
   display:none;
}

body.login .txtHelpDesk {
   display:none;
}

body.sistemas .user {
    color:#FFB95C;
    font-size: 1.2em;
    text-align: right;
    width: 970px;
    left: 50%;
    margin-left: -485px;
    background: transparent;
    box-shadow: none;
    margin-top: 9px;
}


body.sistemas .user strong {color:#FFB95C}

body.sistemas #acessibilidade {display:none;}
div#login {
   background: url(images/bg_widget-branco.png) left top no-repeat;
   border: 1px solid #fff;
   width: 360px;     
   margin: 180px auto 0 auto;
   border:1px solid #ddd;
   box-shadow: 0 0 4px #444;

}

div#login fieldset {
	border:none;
	background:none;
	margin:0 auto;
	padding:20px 0;
}

div#login .container {
   position:relative;
}

div#login .summaryMensagem {
   margin:15px;
}

div#login label {
   display:inline-block;
   font-size: 1em;
   background:transparent;
   cursor:text;
   width:100px;
   text-align:right;
}

div#login legend {
   background: url(images/title-box-login.png) left top no-repeat;
   height: 55px;
   margin: 0 0 0 -13px!important;
   text-indent: -9999px;
   padding: 0!important;
   border:none;
}

div#login input, div#login select {
   font-size:1.3em;
   width:200px;
   margin-bottom:10px;
}

div#login select {
   width:210px;
}

div#login input.btn {
	margin-top:15px;
	margin-right:35px;
	float:right;
	font-size:1.2em;
}

div#login .imgCaptcha {
    vertical-align: middle;
    border: 1px solid #ccc;
    border-radius: 5px;
}

div#login .divCaptchaLogin input {
    width: 96px;
}

div#login a {
   display:inline-block;
   margin-top:20px;
   margin-left:15px;
   color:#333;
   font-size: 1em;
   text-decoration:none;

}

div#login a:hover, div#login a:focus {
   border-bottom:1px solid #333;
}



body.sistemas .listaSistemas {
   display: block;
   width: 600px;
   margin: 0 auto;
   text-align: center;
}

.listaSistemas span {
	display:inline-block;
	width:150px;
	height:150px;
	text-align:center;
}

.listaSistemas span a {
	display:block;
	text-decoration:none;
	color:#2995D9;
	position: relative;
   padding-top: 30px;
   outline:none;
   height:90px;
}

.listaSistemas span a:hover {
   text-decoration:underline;
 }

.listaSistemas span a img, .listaSistemas span a span {
	display:block;
	margin:0 auto;
	height: auto;
	width:auto;
}
.listaSistemas span a span {
   position: absolute;
   bottom: 95px;
   left:0;
   width: 100%;
}

.listaSistemas span a .sistemaHover {
   background:url(images/sistema-selecionado.png) center top no-repeat;
   position: absolute;
   height: 92px;
   width: 150px;
   top: 30px;
   left:0;
	-webkit-transition: opacity 0.5s ease-in-out;
	opacity:0;
	filter:alpha(opacity=0);
}
.listaSistemas span a:hover .sistemaHover, .listaSistemas span a:focus .sistemaHover {
  background:url(images/sistema-selecionado.png) center top no-repeat;
  opacity:1;
  filter:none;
}


body.sistemas #bd fieldset { 
   margin-top:50px;
   background: none!important;
   border: none!important;
   box-shadow:none;
}

body.sistemas #bd fieldset legend { 
   display:none;
}



div#divSelectGrupo input.btn {
	width:400px!important;
}


.ui-state-error {
	padding:15px;
	margin-bottom:10px;
	color:#CD0A0A!important;
}

.ui-widget {
   font-family:Verdana, Tahoma, sans-serif;
}

.ui-widget fieldset { font-size:1em; }


/* Mensagem de alerta amarelo, os outros sobrescreve atraves do utilBO */
.summary {
    margin-bottom: 18px;
    padding: 8px 35px 8px 50px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    display: block;
    clear: both;
    margin: 10px 0;
    width: auto;
    height: auto;
    border: 1px solid #F0C36D;
    color: #222;
    font-weight: bold;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: #F9EDBE!important;
    background-position:10px center!important;
    font-size:1.2em;
}

fieldset .summary { font-size:1em; }

/* Mensagem de alerta amarelo, os outros sobrescreve atraves do utilBO */
.summaryMensagem {
	background: #fff url(images/warning.png) no-repeat 45px 50%;
    margin-bottom: 18px;
    padding: 8px 35px 8px 50px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    display: block;
    clear: both;
    margin: 10px 0;
    width: auto;
    height: auto;
    border: 1px solid #F0C36D;
    color: #222!important;
    font-weight: bold;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: #F9EDBE!important;
    background-position:10px center!important;
    font-size:1.2em;
}

.summary td {
	border:none;
}

.ui-datepicker-trigger {
	width:20px;
	height:20px;
	margin-left:5px;
	margin-bottom:-5px;
}

.ui-datepicker {
	z-index:999999!important;
}

.ui-state-error ul {
	list-style:none;
}


.ui-tabs {
	background:transparent!important;
	border:none!important;
}

.ui-tabs .ui-tabs-panel {
	padding:0!important;
	border: 1px solid #2995D9;
	background:#f4f4f4;
}

.ui-tabs .ui-tabs-nav {
	background:transparent;
	border:none;
	padding:0!important;
   border-bottom: 5px solid #2995D9;
   border-radius:0;
   -webkit-border-radius:0;    
   -moz-border-radius:0;    
}

.ui-tabs .ui-tabs-nav .ui-state-default {
	background:#2995D9;
	border-color:#2995D9;
}
.ui-tabs .ui-tabs-nav .ui-state-default a {
	color:#fff;
}


.ui-tabs .ui-tabs-nav .ui-state-active,
.ui-tabs .ui-tabs-nav .ui-state-active.ui-state-hover {
	background:#F4F4F4!important;
	border-color:#ddd!important;
	padding-bottom:6px!important;
	margin-bottom:-6px!important;
	border-bottom:0!important;
	z-index:10;
}
.ui-tabs .ui-tabs-nav .ui-state-active a,
.ui-tabs .ui-tabs-nav .ui-state-active.ui-state-hover a {
	color:#2995D9!important;
}


.ui-tabs .ui-tabs-nav .ui-state-hover {
	background:#0964AA!important;
	border-color:#0964AA!important;
	color:#fff!important;
}
.ui-tabs .ui-tabs-nav .ui-state-hover  a{
	color:#fff!important;
}
.ui-tabs .ui-tabs-panel { outline:none; }.ui-dialog fieldset { width:auto!important; }

.ui-tabs fieldset {
   -webkit-border-top-left-radius: 0;
   -webkit-border-top-right-radius: 0;
   -moz-border-radius-topleft: 0;
   -moz-border-radius-topright: 0;
   border-top-left-radius: 0;
   border-top-right-radius: 0;
}

/* jQuery Dialog - colocado MaxHeigth */
.ui-dialog .ui-dialog-content { position: relative; border: 0; padding: .5em 1em; background: none; max-height: 450px; overflow: auto; zoom: 1; }

.divEfetivacao {
	width:680px;
	overflow:auto;
	/*background:#dedede;*/
}
.divEfetivacao .gridHeader th {
	background:#666;
}
.divEfetivacao fieldset 
{
	background:#dedede;
}
.divEfetivacao .grid {
	table-layout:fixed;
	width:150px;
	margin-bottom:5px;
}
.divEfetivacao .gridHeader th, .divEfetivacao .gridHeader td {
	width:150px!important;
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
}

#divRelatorio input, #divRelatorio select {
	margin:0!important;
}
.clear {
	clear:both;
}

#divCategoria {
	width:710px;
	overflow:auto;
	margin-bottom:20px;
}

#divCategoria .catD, #divCategoria .catE {
	width:345px;
	float:left;
}
#divCategoria .catD {
	margin-left:20px;
}

#divCategoria h1 {
	color:#A5CEF2;
	font-size:4em;
	font-weight:bold;
}
#divCategoria h2 {
	font-size:1.4em;
	font-weight:bold;
	color:#549C00;
	text-indent:1em;
	padding:10px 0;
}
#divCategoria a {
	display:block;
	padding:5px;
	text-decoration:none;
	border-bottom:1px solid #ddd;
}
#divCategoria a:hover h2 {
	text-decoration:underline;
}
#divCategoria p {
	text-align:justify;
	text-indent:1em;
	font-size:1em;
	line-height:1.6em;
	color:#333;
}

.maskHora {
	text-align:right!important;
}


.DragCheckBox,
.DragCheckBox *,
.DropCheckBox,
.DropCheckBox *,
.DragLabel,
.DragLabel * {
	cursor:pointer;
}

/* Ajax Loader */
.loader
{
	position: absolute; 
	background: #E8E8E8 url(images/ajax-loader.gif) center center no-repeat;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99999999;
	opacity:0.50;
	filter:alpha(opacity=50);
}

input[disabled], input[readonly], select[disabled], select[readonly], checkbox[disabled], checkbox[readonly], textarea[disabled], textarea[readonly] 
{ 
 cursor: default; 
}

.tbEndereco input[readOnly1="readOnly"]
{
	color: #767676 !important;
}

.tbEndereco table td
{
	padding-right: 20px;
}


.tbEndereco .tbNovoEndereco_incremental
{
	margin-left: 5px;
	position: absolute;
}

.tbEndereco .botoes
{
	margin-left: 5px;
	margin-top: 5px;
}

.gridViewRow {
	background:#fff;
}


#SiteMap {
   text-align: center;
   margin-top:100px;
}
#SiteMap .listaMenu {
   display: inline-block;
   margin: 0 auto;
   list-style:none;
   width:620px;
}
#SiteMap .txtMenu {
   display: none;
}
#SiteMap .txtSubMenu {
   display: inline-block;
   width: 150px;
   height: 150px;
   vertical-align: bottom;
}


#SiteMap a.link {
   vertical-align: bottom;
   display: block;
   padding-top: 75px;
   color:#999;
   font-size:1.4em;
   text-decoration:none;
   position:relative;
   background: center top no-repeat;
}
#SiteMap a.link.verde { background-image: url(images/logos/iconeMenu-azul.png) }
#SiteMap a.link.rosa { background-image: url(images/logos/iconeMenu-azul.png) }
#SiteMap a.link.azul { background-image: url(images/logos/iconeMenu-azul.png) }
#SiteMap a.link.laranja { background-image: url(images/logos/iconeMenu-azul.png) }
#SiteMap a.link.vermelho { background-image: url(images/logos/iconeMenu-azul.png) }

#SiteMap a.link .linkHover {
   background:url(images/sistema-selecionado.png) center -3px no-repeat;
   position: absolute;
   height: 85px;
   width: 150px;
   top: 0px;
   left:0;
	-webkit-transition: opacity 0.5s ease-in-out;
	opacity:0;
	filter:alpha(opacity=0);
	cursor:pointer;
}
#SiteMap a.link:hover .linkHover, #SiteMap a.link:focus .linkHover {
  opacity:1;
  filter:none;
}


.txtHelpDesk {
   display:none;
}

.ui-dialog
{
	font-size:1.2em !important;
}

.hplHelp
{
	position: absolute;
	right: 25px;
	top: 40px;
	z-index:1;
}

.hplHelp img
{
	width: 32px;
	height: 32px;
}


/*
-------
Icones
------- */

[class^="icon-"] 
{
    background-image: url(images/glyphicons-halflings.png);
    background-position: 14px 14px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 14px;
    vertical-align: text-top;
    width: 14px;
    text-indent:-9999px;
}



.icon-glass {
    background-position: 0 0;
}
.icon-music {
    background-position: -24px 0;
}
.icon-search {
    background-position: -48px 0;
}
.icon-envelope {
    background-position: -72px 0;
}
.icon-heart {
    background-position: -96px 0;
}
.icon-star {
    background-position: -120px 0;
}
.icon-star-empty {
    background-position: -144px 0;
}
.icon-user {
    background-position: -168px 0;
}
.icon-film {
    background-position: -192px 0;
}
.icon-th-large {
    background-position: -216px 0;
}
.icon-th {
    background-position: -240px 0;
}
.icon-th-list {
    background-position: -264px 0;
}
.icon-ok {
    background-position: -288px 0;
}
.icon-remove {
    background-position: -312px 0;
}
.icon-zoom-in {
    background-position: -336px 0;
}
.icon-zoom-out {
    background-position: -360px 0;
}
.icon-off {
    background-position: -384px 0;
}
.icon-signal {
    background-position: -408px 0;
}
.icon-cog {
    background-position: -432px 0;
}
.icon-trash {
    background-position: -456px 0;
}
.icon-home {
    background-position: 0 -24px;
}
.icon-file {
    background-position: -24px -24px;
}
.icon-time {
    background-position: -48px -24px;
}
.icon-road {
    background-position: -72px -24px;
}
.icon-download-alt {
    background-position: -96px -24px;
}
.icon-download {
    background-position: -120px -24px;
}
.icon-upload {
    background-position: -144px -24px;
}
.icon-inbox {
    background-position: -168px -24px;
}
.icon-play-circle {
    background-position: -192px -24px;
}
.icon-repeat {
    background-position: -216px -24px;
}
.icon-refresh {
    background-position: -240px -24px;
}
.icon-list-alt {
    background-position: -264px -24px;
}
.icon-lock {
    background-position: -287px -24px;
}
.icon-flag {
    background-position: -312px -24px;
}
.icon-headphones {
    background-position: -336px -24px;
}
.icon-volume-off {
    background-position: -360px -24px;
}
.icon-volume-down {
    background-position: -384px -24px;
}
.icon-volume-up {
    background-position: -408px -24px;
}
.icon-qrcode {
    background-position: -432px -24px;
}
.icon-barcode {
    background-position: -456px -24px;
}
.icon-tag {
    background-position: 0 -48px;
}
.icon-tags {
    background-position: -25px -48px;
}
.icon-book {
    background-position: -48px -48px;
}
.icon-bookmark {
    background-position: -72px -48px;
}
.icon-print {
    background-position: -96px -48px;
}
.icon-camera {
    background-position: -120px -48px;
}
.icon-font {
    background-position: -144px -48px;
}
.icon-bold {
    background-position: -167px -48px;
}
.icon-italic {
    background-position: -192px -48px;
}
.icon-text-height {
    background-position: -216px -48px;
}
.icon-text-width {
    background-position: -240px -48px;
}
.icon-align-left {
    background-position: -264px -48px;
}
.icon-align-center {
    background-position: -288px -48px;
}
.icon-align-right {
    background-position: -312px -48px;
}
.icon-align-justify {
    background-position: -336px -48px;
}
.icon-list {
    background-position: -360px -48px;
}
.icon-indent-left {
    background-position: -384px -48px;
}
.icon-indent-right {
    background-position: -408px -48px;
}
.icon-facetime-video {
    background-position: -432px -48px;
}
.icon-picture {
    background-position: -456px -48px;
}
.icon-pencil {
    background-position: 0 -72px;
}
.icon-map-marker {
    background-position: -24px -72px;
}
.icon-adjust {
    background-position: -48px -72px;
}
.icon-tint {
    background-position: -72px -72px;
}
.icon-edit {
    background-position: -96px -72px;
}
.icon-share {
    background-position: -120px -72px;
}
.icon-check {
    background-position: -144px -72px;
}
.icon-move {
    background-position: -168px -72px;
}
.icon-step-backward {
    background-position: -192px -72px;
}
.icon-fast-backward {
    background-position: -216px -72px;
}
.icon-backward {
    background-position: -240px -72px;
}
.icon-play {
    background-position: -264px -72px;
}
.icon-pause {
    background-position: -288px -72px;
}
.icon-stop {
    background-position: -312px -72px;
}
.icon-forward {
    background-position: -336px -72px;
}
.icon-fast-forward {
    background-position: -360px -72px;
}
.icon-step-forward {
    background-position: -384px -72px;
}
.icon-eject {
    background-position: -408px -72px;
}
.icon-chevron-left {
    background-position: -432px -72px;
}
.icon-chevron-right {
    background-position: -456px -72px;
}
.icon-plus-sign {
    background-position: 0 -96px;
}
.icon-minus-sign {
    background-position: -24px -96px;
}
.icon-remove-sign {
    background-position: -48px -96px;
}
.icon-ok-sign {
    background-position: -72px -96px;
}
.icon-question-sign {
    background-position: -96px -96px;
}
.icon-info-sign {
    background-position: -120px -96px;
}
.icon-screenshot {
    background-position: -144px -96px;
}
.icon-remove-circle {
    background-position: -168px -96px;
}
.icon-ok-circle {
    background-position: -192px -96px;
}
.icon-ban-circle {
    background-position: -216px -96px;
}
.icon-arrow-left {
    background-position: -240px -96px;
}
.icon-arrow-right {
    background-position: -264px -96px;
}
.icon-arrow-up {
    background-position: -289px -96px;
}
.icon-arrow-down {
    background-position: -312px -96px;
}
.icon-share-alt {
    background-position: -336px -96px;
}
.icon-resize-full {
    background-position: -360px -96px;
}
.icon-resize-small {
    background-position: -384px -96px;
}
.icon-plus {
    background-position: -408px -96px;margin-right: 2px;
}
.icon-minus {
    background-position: -433px -96px;
}
.icon-asterisk {
    background-position: -456px -96px;
}
.icon-exclamation-sign {
    background-position: 0 -120px;
}
.icon-gift {
    background-position: -24px -120px;
}
.icon-leaf {
    background-position: -48px -120px;
}
.icon-fire {
    background-position: -72px -120px;
}
.icon-eye-open {
    background-position: -96px -120px;
}
.icon-eye-close {
    background-position: -120px -120px;
}
.icon-warning-sign {
    background-position: -144px -120px;
}
.icon-plane {
    background-position: -168px -120px;
}
.icon-calendar {
    background-position: -192px -120px;
}
.icon-random {
    background-position: -216px -120px;
}
.icon-comment {
    background-position: -240px -120px;
}
.icon-magnet {
    background-position: -264px -120px;
}
.icon-chevron-up {
    background-position: -288px -120px;
}
.icon-chevron-down {
    background-position: -313px -119px;
}
.icon-retweet {
    background-position: -336px -120px;
}
.icon-shopping-cart {
    background-position: -360px -120px;
}
.icon-folder-close {
    background-position: -384px -120px;
}
.icon-folder-open {
    background-position: -408px -120px;
}
.icon-resize-vertical {
    background-position: -432px -119px;
}
.icon-resize-horizontal {
    background-position: -456px -118px;
}



.icon-white {
    background-image: url("images/glyphicons-halflings-white.png");
}


.div-input-inline {
    display: inline-block;
    margin-right: 0;
}

.div-input-inline:last-child {
    margin-right:0;
}

.linha-documento {
    border-bottom: 1px solid #bbb;
    padding: 10px 0;
}

.linha-documento:last-child {
    border:none;
}