<?xml version="1.0" encoding="utf-8" ?>
<AppSettings>
  <ConnectionStrings>

    <!--TY5A=-->
    <!--<Core_IDS>7DcWdWMvIIxxuG4mv8qTdD0G6OnE8vKrZLZ1VBF5FkSk7SGXDuckPNWabV8g0+wZWV1dTrn/PPDmELHsK66IS9Uyy5Xn2J5D0Oy9ZuSgNH59IvOvU+V4SoC4YpUZcH8XIjMVQJeTY5A=</Core_IDS>-->
    <!--Jobw==-->
    <!--<CoreLog_IDS>7DcWdWMvIIxxuG4mv8qTdD0G6OnE8vKrZLZ1VBF5FkSk7SGXDuckPNWabV8g0+wZWV1dTrn/PPDmELHsK66IS9Uyy5Xn2J5DuzmQQc9ol5XafMPx27030Eu7RsDfkkeWqgpyPUfvgYlXfyBNXOJobw==</CoreLog_IDS>-->

    <!-- LOCAL -->
    <!--<Core_IDS>2OIa2JUFhOSmm2yusgMTP/AovNLmnZQSBJSPqYKxmKvV+N3H1HBEFWlHFcZkEaAR7lHF5GpX5PgnzgayroN7EE1emNtZvCIHtzt2XglfDGvCL2bvypL94FiNfdzUJXDj</Core_IDS>--> <!--UJXDj  CORESSO-->
    <!--<CoreLog_IDS>2OIa2JUFhOSmm2yusgMTP/AovNLmnZQSBJSPqYKxmKvV+N3H1HBEFWlHFcZkEaARMOFzHBxxB76YnIx/DXIYUANcS2MJML/pmdSgfnZ51vH9emclYQyMPq9K4IcT+zddUN0okDhELCQ=</CoreLog_IDS>--> <!--ELCQ=  CoreSSO_Log-->

    <!-- HOMOLOGAÇÃO ESCOLHAS -->
    <!--<Core_IDS>2OIa2JUFhOSmm2yusgMTPwxnTRKe+iIiV4vTlGol7iGHd7ed4cNiRzl0GJ3cnbuhKpVHG1Q7F2w8jiFWo79estfeo3zGU5lztRuMGwNaSjafOm9BlFwBgmuBHtWVZpiZoBlMjBXTcFKxWXH/8uxBdw==</Core_IDS>--> <!--UJXDj  CORESSO-->
    <!--<CoreLog_IDS>2OIa2JUFhOSmm2yusgMTPwxnTRKe+iIiV4vTlGol7iGHd7ed4cNiRzl0GJ3cnbuhKpVHG1Q7F2xXGK/PGZAGpx3/B7YT6nzReb9JFO1TRyZxs7RCf1y4+izjx6IoqThsLj7RjjmRCow+3XSXiyaHyA==</CoreLog_IDS>--> <!--ELCQ=  CoreSSO_Log-->

    <!-- PRODUÇÃO -->
    <Core_IDS>2OIa2JUFhOTMHj1keIIC9Pr4y8AtPkiE2v+o+z8N36ZJyqJ393KPl2K6eGFtbl5SxhEe9PXxyp1erCfeT0gN2PblDX7iMlE1vRoNo5Oegeg/l/hrgwmf3j1nPjZA8pIMfM2pqTT5TKyWP/nlto5HKA==</Core_IDS>--> <!--UJXDj  CORESSO-->
    <CoreLog_IDS>2OIa2JUFhOTIUfOMQivEw0V+JvxSL9sRTb1NjxPP4jliCuTB4giJLVCPt3dlLIorY8fTdTImb0a5yvU0l8cRYxh+ul1WQn25GACWjF1oU06IBjfmHW3+fFQ/IcOHdMcXfQiSEBImKm7UKhTlSC2vYQr1MgYoxlJDhlBuTYP1nzDK/p4kaN9ipfAl6wIwJzko</CoreLog_IDS> <!--ELCQ=  CoreSSO_Log-->


    <!-- HOMOLOGAÇÃO BIBLIOTECA -->
    <!--<Core_IDS>2OIa2JUFhOSjixWRsBmX8sFaTWAXOLnNsYZ1tqaDO7E/OAkitGqj3clS+kQL5AhhV9yxi/vmjWzeOBLP2qsQLvKfX2Evn1Uznxuhtp9hButGyHGlXHo1cj2hyiwidgb0YxK4fcEate8=</Core_IDS>--> <!--UJXDj  CORESSO-->
    <!--<CoreLog_IDS>2OIa2JUFhOSjixWRsBmX8sFaTWAXOLnNsYZ1tqaDO7E/OAkitGqj3clS+kQL5AhhV9yxi/vmjWzcmUI+I90XiLIF9LHvzQGW4wSQXp3l4F9ybal6LwUYxTSzIWTs8LZ39DoiGdM5KF+deMRgKZLh0Q==</CoreLog_IDS>--> <!--ELCQ=  CoreSSO_Log-->

  </ConnectionStrings>
  <!-- local -->
  <!---->
  <LoggedRedirectUrl>http://localhost:54296/Sistema.aspx</LoggedRedirectUrl>
  <SistemasLoggedOutUrl>http://localhost:54296/Logout.ashx</SistemasLoggedOutUrl>

  <!-- HOMOLOGAÇÃO -->
  <!--<LoggedRedirectUrl>http://10.50.1.51:8080/Sistema.aspx</LoggedRedirectUrl>
  <SistemasLoggedOutUrl>http://10.50.1.51:8080/Logout.ashx</SistemasLoggedOutUrl>-->

  <ClientId_PortalAluno>http://boletimonlineids.mstech.com.br</ClientId_PortalAluno>
  <AuthenticationScheme>Cookies</AuthenticationScheme>
  <CookieName>SMESP.IDS</CookieName>
  <CookieDomain>localhost</CookieDomain>
  <Cert>certIDS.pfx</Cert>
  <CertPassword>YS2OglvxHMwaTWXkzeTOTw==</CertPassword>

  <add key="Cookies_AuthenticationType" value="Cookies" />
  <add key="Cookies_CookieName" value="SMESP.IDS" />
  <add key="Cookies_LoginPath" value="/Login.ashx" />
  <add key="Cookies_CookieDomain" value="localhost" />
  <add key="AuthenticationType" value="smesp" />
  <add key="SignInAsAuthenticationType" value="Cookies" />
  <add key="Authority" value="http://localhost:5000" />
  <add key="RedirectUri" value="http://localhost:54296/Login.ashx" />
  <add key="ClientId" value="smespmvc" />
  <add key="ClientSecret" value="mespidentity" />
  <add key="Scope" value="openid profile smespapi" />
  <add key="ResponseType" value="code id_token token" />
  <add key="EndpointUserInfo" value="http://localhost:5000/connect/userinfo" />

  <Logging>
    <IncludeScopes>false</IncludeScopes>
    <LogLevel>
      <Default>Debug</Default>
      <System>Information</System>
      <Microsoft>Information</Microsoft>
    </LogLevel>
  </Logging>
</AppSettings>