<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="IDProvider" type="CoreLibrary.SAML20.Configuration.ConfigurationReader, CoreLibrary.SAML20" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="CookiAthenticationOptions:LoginPath" value="/Login.aspx" />    <!--LoginPath: Página de login, deve começar com '/'-->
    <add key="CookiAthenticationOptions:CookieName" value="6142831D-2D45-407a-A849-44C9BA809A0E" />    <!-- CookieName: Nome do cookie de autenticação-->
    <add key="CookiAthenticationOptions:CookiePath" value="/" />    <!-- CookiePath: pasta para ser utilizada no cookie de autenticação-->
    <add key="CookiAthenticationOptions:SlidingExpiration" value="false" />    <!-- SlidingExpiration: permite que o tempo de expiração seja postergado conforme as requisições futuras.-->
    <add key="CookiAthenticationOptions:ExpireTimeSpanFromHours" value="12" />    <!-- ExpireTimeSpanFromHours: intervalo de tempo para revalidar o cookie de autenticação-->
    <add key="CookiAthenticationOptions:ExpiresUtcFromHours" value="24" />    <!-- ExpiresUtc:  Duração do cookie-->
    <add key="CookiAthenticationOptions:CookieDomain" value="" />   <!-- CookieDomain: Domínio do cookie, valor default null-->
    <add key="CookiAthenticationOptions:RedirectUrlLoginExternal" value="" />
    <!--Autenticador Identity Server -->
    <add key="Cookies_AuthenticationType" value="Cookies" />
    <add key="Cookies_CookieName" value="AspNet.MSCookies" />
    <add key="Cookies_LoginPath" value="/Login.ashx" />
    <add key="Cookies_CookieDomain" value=".mstech.com.br" />
    <add key="AuthenticationType" value="mstech" />
    <add key="SignInAsAuthenticationType" value="Cookies" />
    <add key="Authority" value="http://identity.mstech.com.br" />
    <add key="RedirectUri" value="http://coressoids.mstech.com.br/Login.ashx" />
    <add key="ClientId" value="mstech" />
    <add key="ClientSecret" value="mstech" />
    <add key="Scope" value="openid profile mstechapi" />
    <add key="ResponseType" value="code id_token token" />
    <add key="EndpointUserInfo" value="http://identity.mstech.com.br/connect/userinfo" />
    <!--Não apagar- Será habilitado para o AVA-SME-->
    <!--<add key="LogoutUrlAVA" value="http://smeportal.mstech.com.br/Logout.ashx" />-->
    <!--Autenticador Identity Server -->
    <!--Plugin de notificação-->
    <add key="UrlNotificationAPI" value="http://notificacaoapi.mstech.com.br" />
    <add key="UrlNotificationSignalR" value="http://notificacaoservice.mstech.com.br/signalr/" />
  </appSettings>
  <connectionStrings />
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <xhtmlConformance mode="Strict" />
    <trace enabled="false" pageOutput="false" mostRecent="true" localOnly="true" />
    <!--<trust level="Minimal" />-->
    <machineKey validation="SHA1" decryption="AES" validationKey="5ADDE444FB8D869B71A51BAEAF5FA4E3FD12BD4A4C25538259D6FC3DC918CDF8" decryptionKey="5C550FBD21E3BD516AFA39615D389615" />
    <identity impersonate="false" />
    <httpCookies httpOnlyCookies="true" />
    <authentication mode="None" />
    <sessionState cookieName="664D3DC6-B995-469b-A49C-E34137E54E11" cookieless="UseCookies" timeout="30" mode="InProc" />
    <globalization uiCulture="pt-BR" culture="pt-BR" fileEncoding="iso-8859-1" responseHeaderEncoding="iso-8859-1" requestEncoding="utf-8" responseEncoding="utf-8" />
    <customErrors mode="RemoteOnly" defaultRedirect="Manutencao.aspx">
      <error statusCode="403" redirect="Manutencao.aspx?erro=403" />
      <error statusCode="404" redirect="Manutencao.aspx?erro=404" />
      <error statusCode="408" redirect="Manutencao.aspx?erro=408" />
      <error statusCode="500" redirect="Manutencao.aspx?erro=500" />
      <error statusCode="503" redirect="Manutencao.aspx?erro=503" />
    </customErrors>
    <siteMap defaultProvider="SsoSiteMapProvider" enabled="true">
      <providers>
        <clear />
        <add name="SsoSiteMapProvider" description="Default SiteMap provider." type="Autenticador.Providers.SsoSiteMapProvider, Autenticador.Providers" securityTrimmingEnabled="true" urlRoot="~/Index.aspx" sistemaID="1" />
      </providers>
    </siteMap>
    <pages theme="IntranetSME" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    <authorization>
      <deny users="?" />
    </authorization>
  </system.web>
  <!-- Configurações do SAML Provider -->
  <IDProvider id="http://coressoids.mstech.com.br/SAML/" xmlns="urn:CoreLibrary.SAML20.Configuration">
    <IDPEndpoint type="signon">
      <SigningCertificate keyFile="samlcert.pfx" password="YS2OglvxHMwaTWXkzeTOTw==" />
    </IDPEndpoint>
  </IDProvider>
  <!-- Fim configurações do SAML -->

  <!-- //////////////////////////////////////////// -->

  <!--<location path="Login.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>-->
  <location path="Login.ashx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="App_Themes">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Captcha.ashx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="imagem.ashx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="LoginService.ashx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Logout.ashx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="AcessoNaoAutorizado.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Index.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Manutencao.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location> 
  <location path="signin-google">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="manutencao.htm">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="WebResource.axd">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Includes">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>  
  <location path="SAML/Signon.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="SAML/SignonService.ashx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="SAML/samlcert.pfx">
    <system.web>
      <authorization>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="SAML/Client/samlcert.pfx">
    <system.web>
      <authorization>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="SAML/Client/Login.ashx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="AreaAdm/Login.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="FormsAuthentication" />
      <remove name="FormsAuthenticationModule" />
    </modules>
    <defaultDocument>
      <files>
        <clear />
        <add value="Login.aspx" />
        <add value="Default.aspx" />
      </files>
    </defaultDocument>
    <!--Configura o tempo de cache do navegador-->
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="10:00:00" />
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.20622.1351" newVersion="4.0.20622.1351" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocol.Extensions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.2.33" newVersion="1.0.2.33" />
      </dependentAssembly>      
    </assemblyBinding>
  </runtime>
</configuration>