<configuration>
    <connectionStrings>
        <clear />
        <add name="AutenticadorDB" providerName="System.Data.SqlClient" connectionString="$ConnectionString.AutenticadorDB$" />
        <add name="LogDB" providerName="System.Data.SqlClient" connectionString="$ConnectionString.LogDB$" />
    </connectionStrings>
</configuration>