<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="AutenticadorDB" connectionString="$ConnectionString.AutenticadorDB$"
      providerName="System.Data.SqlClient" />
    <add name="LogDB" connectionString="$ConnectionString.LogDB$"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>