<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Autenticador.WebServices.Consumer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Autenticador.WebServices.Consumer.Properties.Settings>
      <setting name="Autenticador_WebServices_Consumer_Services_ServiceUserLive"
          serializeAs="String">
        <value>$Autenticador_WebServices_Consumer_Services_ServiceUserLive$</value>
      </setting>
    </Autenticador.WebServices.Consumer.Properties.Settings>
  </applicationSettings>
</configuration>