<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="AutenticadorDB" connectionString="2OIa2JUFhOTMHj1keIIC9Pr4y8AtPkiE2v+o+z8N36ZJyqJ393KPl2K6eGFtbl5SxhEe9PXxyp1erCfeT0gN2PblDX7iMlE1vRoNo5Oegeg/l/hrgwmf3j1nPjZA8pIMfM2pqTT5TKyWP/nlto5HKA=="
      providerName="System.Data.SqlClient" />
    <add name="LogDB" connectionString="2OIa2JUFhOTMHj1keIIC9Pr4y8AtPkiE2v+o+z8N36ZJyqJ393KPl2K6eGFtbl5SbZlI0cjwHQuuDENNsel1oO1vzSvfYHhh6JqMaH9j75GWnBboML+tiAMSqe6SSqihsxZKg7n8uK/f4zF+PsyBJg=="
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>