<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="AutenticadorDB" connectionString="2OIa2JUFhOQPIigiHPmj2qap1/6SJ6cn6845IWYZPkyRidV1X9IBSQIioF1o+OHjNctOWrhWz6taspEEK3YtxhItRvM3dYcD5Sd2itcjmKIUc3ArPeTBs1nZIlIt7MgXVH82B+I7z0TYm3vcpwmZNA=="
      providerName="System.Data.SqlClient" />
    <add name="LogDB" connectionString="2OIa2JUFhOQPIigiHPmj2qap1/6SJ6cn6845IWYZPkyRidV1X9IBSQIioF1o+OHjNctOWrhWz6tXTORst/ws9RwE6XVcxyOJvA3iWFl+UzX6Hel9WkfRq8+u1bKcVz7IK5nZu5YAp3Z4u0yqZqP23Q=="
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>