<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="AutenticadorDB" connectionString="2OIa2JUFhOQkTXYH7wt94GHRC7SG1oGTjcqvfoeWyhmwMFnfYgM8yMQ5ccMFE2En1q6L0ScINN7/upc6VdFo2Bk/nuLreogocbUO8b8M9AbfW7V8FL0kb7LRYMnsBEEMha57xxmHe5PYZerhCWY5fw=="
      providerName="System.Data.SqlClient" />
    <add name="LogDB" connectionString="2OIa2JUFhOQkTXYH7wt94GHRC7SG1oGTjcqvfoeWyhnO8AUqZrTFw7oTZdNUosYQ7mYx5z/QYZpbhyriXpmcp6p6OGn123B7gvcSXLCVUGNBEs22rS5va5hH0z7jivm19dOOMuGCeYQ="
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>