<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <clear />
        <add name="AutenticadorDB" connectionString="2OIa2JUFhORK76O21ag+6u0aJCYi2xTzb3pLmYYmuUlBw8FWTiHvc8Dj/nmo1tGieTciyU1txAXD+DD6kByrewwI7as8Mrl7Hvbe2EWTmPow78GWpQWTKOn7g0mJ3mx8ngviFzm/sQp4374Te4GZrLBi0lf9fEak"
            providerName="System.Data.SqlClient" />
        <add name="LogDB" connectionString="2OIa2JUFhORK76O21ag+6u0aJCYi2xTzb3pLmYYmuUlBw8FWTiHvc8Dj/nmo1tGieTciyU1txAXD+DD6kByre8gtg56Eq0ytnP92QP62WRCGJG6F9W+jHrTp7Tjjh824wPv3xUNGlfwLAWnlSxXVS+3BI3zXERlc"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
